@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}